<html>
<head>
    <title> Home </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <header> 
        <%- include('./partials/header'); %> 
    </header>
    <div class="container">
        This is the random comic page
    </div>
</body>

</html>